{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6">
                <br>
                <h1>Blogposts list</h1>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Content</th>
                            <th scope="col">Createdat</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for blogPost in blogPosts %}
                        <tr>
                            <td>{{ blogPost.id }}</td>
                            <td>{{ blogPost.title|title }}</td>
                            <td>{{ blogPost.content }}</td>
                            <td></td>
                            <td>
                                <a href="{{ path('blogpost_show', { 'id': blogPost.id }) }}">show</a>
                                 | <a href="{{ path('blogpost_edit', { 'id': blogPost.id }) }}">edit</a>
                            </td>
                            <td>
                                {% for blogComment in blogComments if blogComment.post.id == blogPost.id%}
                                    <span>{{ blogComment.content }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12">
                <a href="{{ path('blogpost_new') }}">Create a new blogPost</a>
            </div>
           
        </div>
    </div>
{% endblock %}
