{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blogpost creation</h1>

    {{ form_start(form) }}
        <div style="background:red;text-align:center;padding:10px;">{{ form_widget(form.title, { 'attr': {'class': 'title', 'placeholder': 'titulo aqui'} }) }}</div>
        <div style="background:red;text-align:center;padding:10px;">{{ form_widget(form.content, { 'attr': {'class': 'content', 'placeholder': 'conteudo aqui'} }) }}</div>

        {# inputs with no label and error area #}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('blogpost_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
