{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blogcomment</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blogComment.id }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ blogComment.author }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ blogComment.content }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if blogComment.createdAt %}{{ blogComment.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ blogComment.email }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blogcomment_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('blogcomment_edit', { 'id': blogComment.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
